*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: blue; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 20px;
    

}
.nav ul{
    display: flex;
    
}
.nav ul li{
    margin:0 30px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
}
.name{
    display: flex;
    width: 100%;
    margin: 5px 40px;
    background-color: tomato;
    padding: 50px;
    /* height: 80vh; */
}
.name-para{
    /* background-color: red; */
    /* text-align: center; */
    width: 50%;
}
.name h1{
    font-size: 40px;
}
.name-para{
    line-height: 1.6;
}
.img{
    /* background-color: yellow; */
    width: 50%;
    padding-left: 50px;


}
img{
    width: 350px;
    margin-top: -140px;
    /* height: 400px; */
}
.projects-title{
    text-align:center;
    margin: 10px 30px;
    padding: 15px;
}
.projects-content h4{
    text-align: center;
    margin: 10px 30px;
    padding: 10px;
}
.projects-cont{
    margin: 10px 30px;
}
.about{
    text-align: center;
}
.education-head{
    margin: 20px 30px;
}
.education-content{
    display: flex;
    justify-content: space-between;
}
